h1 {
  font-size: 27px;
  text-transform: capitalize;
  font-style: arial;
  text-align: center;
  margin: 0em;
}


}

a:link {
  color: rgb(255, 169, 73);
  text-decoration: none;
}

a:visited {
  color: lightblue;
}

.casa:hover {

  color: red;
}

.virus:hover {
  color: gold;
}

.home:hover {
  color: darkblue;
}

a:active {
  color: lightcoral;
}

.main-footer {
  padding-top: 600px;
  padding-bottom: 60px;
  border-bottom: 4px solid grey;
  text-align: center;
}


p {
  padding: 80px 80px;
  margin: 10px;
  color: #ffa949;
  text-align: center;
  padding: 5em;
}

.aligna {
  text-align: right;
}

img {
  max-width: 10px;
  margin-bottom: 1000px;
  padding: 10px;
}

.title {
  font-size: 22px;
  text-transform: capitalize;
  font-style: arial;
  text-align: center;
  margin: 0em;
}

.main-header {
  padding-top: 170px;
  height: 850px;

  background: #ffa949 url('css-html-javascript-image.png') no-repeat center;
  background-size: cover;
}
