
h1 {
  font-size: 950px; /* 90px/16px  */
  color: green;
  text-transform: capitalize;
  font-style: arial;
}

.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 10px solid #ffa949;
}

p {
  padding: 500px 500px;
  margin: 0;
  color: green;
}
